
.btnContainer{
  display:flex;
  gap:15px;
  padding: 0 20px !important;
}
.btn2{
  width: 350px;
  background-color: #38B0DE !important;
}
.btn1{
  width: 200px;
  border-color: #38B0DE !important;
  color:#38B0DE !important;
}
.editBtn{
  color:#38B0DE !important;
}

 @media(max-width: 998px){
  .btnContainer{
    flex-direction:column;
    gap:10px
  }
  .btn1{
    width:100% !important;
  }
  .btn2{
    width: 100%;
  }
  h3{
    font-size: 20px !important
  }
  .resultBtn{
    margin: 0px 10px !important;
  }

}
